certifi
chardet
defusedxml
django-allauth
django-crispy-forms
django-debug-toolbar
django-environ
idna
oauthlib
python-dateutil
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
sqlparse
urllib3
huey
